* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}


html, body {
    height: 100%;
}

 body {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-image: url("assert/images/doubra.jpg");
  background-size: cover; /* Stretch to fill the screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  font-family: sans-serif;
  color: white; 
 /* background-color: aliceblue;*/
  object-fit: contain;
  box-sizing: border-box;
}

.content {
  margin: 100px auto;
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  /*border: 1px solid red;*/
  border-radius: 10px;
   position: relative;
  overflow: hidden;
  
}

.main-section{
  /*border: 1px solid yellow;*/
  display: flex;
  /*height: 10px;*/
}

.section1{
   /* background-color: rgba(255, 255, 255, 0.8);*/
    width: 50%;
    color: black;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
   
}


nav {
  height: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /*border: 2px solid yellow;*/
}


.logo{
    display: flex;
    width: 50%;
    font-family: 'Playfair Display';
    font-size: 15px;
    font-weight: 450;
    color: black;
    align-items: center;
    padding-left: 2px;
}


.logo img {
  max-width: 10%;
}

.link{
  /*border: 2px solid blue;*/
  display: flex;
  width: 50%;
  padding-right: 10px;
}

.link>ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.link-items{
  /*border: 2px solid red;*/
  display: flex;
  font-size: 8px;
  font-weight: 400;
  color: black;
  cursor: pointer;
}

.banner-left-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
  /*border: 1px solid blue;*/
 padding: 20px 20px;
 margin-top: 20px;
}

.banner-left-section>small {
  font-weight: 400;
  font-size: 7px;
  line-height: 110%;
  color: black;
  width: 100px;
  display: flex;
}

.banner-left-section>ul {
  line-height: 120%;
  color: black;
  font-size: 18px;
  font-weight: 500;
}


.button-element {
  outline-style: none;
  border: 0;
  border: 2px solid burlywood;
  background-color: burlywood;
  color: black;
  font-weight: 400;
  font-size: 7px;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-left: 20px;
}



.button-element:hover,
.link-items:hover {
  background: brown;
  border: 2px solid brown;
}


.section2{
    /*background-color: rgba(0,0,0,0.5);*/
    height: auto;
    width: 50%;
    margin: 0;
    padding: 0;
  /*border: 2px solid red;*/
  position: relative;
}

.section2 img{
  position: absolute;
  object-fit: contain;
  height: 100%;
  width:100%;
  object-fit: cover;
}



@media (min-width :768px){

.content{
   margin: 100px auto;
}

.link-items{
  font-size: 15px;
}
nav {
  height: 50px;
}


.logo{
    font-size: 30px;
    font-weight: 450;
   /* border: 2px solid black;*/
}

.logo img {
  max-width: 8%;
}

.banner-left-section {
 padding: 20px 32px;
 gap: 10px;
 margin-top: 40px;
}

  .banner-left-section>small {
  font-weight: 500;
  font-size: 12px;
  width: 200px;
}

.banner-left-section>ul {
  font-size: 35px;
}

.button-element {
  font-size: 9px;
  width: 70px;
  height: 30px;
  margin-bottom: 90px;
  margin-left: 32px;
}
}

@media (min-width :1000px){
   .section1,
   .section2 {
    width: 50%;  
}


.link-items{
  font-size: 25px;
}

nav {
  height: 70px;
}

.content{
   margin: 100px auto;
}

.logo{
    font-size: 35px;
    font-weight: 450;
    padding-left: 10px;
}


.logo img {
  max-width: 8%;
}

.banner-left-section {
 padding: 50px 55px;
 gap: 10px;
 margin-top: 20px;
}

  .banner-left-section>small {
  font-weight: 500;
  font-size: 15px;
  width: 350px;
}

.banner-left-section>ul {
  font-size: 45px;
}

.button-element {
  font-size: 12px;
  width: 80px;
  height: 40px;
  margin-bottom: 70px;
  margin-left: 55px;
}

}